@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
}
:root{
    /* Tipos dos Pokemons */
    --shadow-color:#8f8f8f;
    --glass-color:rgb(2, 211, 2);
    --fontglass-color:rgb(158, 255, 158);
    --poison-color:purple;
    --fontpoison-color: rgb(255, 79, 255);
    --fire-color:rgb(255, 94, 0);
    --fontfire-color:rgb(252, 171, 124);
    --flying-color:rgb(149, 149, 255);
    --fontflying-color:rgb(182, 182, 255);
    --water-color:blue; 
    --fontwater-color:rgb(87, 87, 255);
    --bug-color:rgb(10, 85, 10);
    --normal-color:grey;
    --eletric-color:yellow;
    --ground-color:brown;
    --fairy-color:pink;
    --psycho-color: violet;
    --fight-color:red;
    --rock-color:rgb(255, 159, 103);
    --steel-color:rgb(73, 73, 73);
    --ice-color:rgb(0, 255, 234);
    --ghost-color:rgb(59, 2, 59);
}
html {
    font-size: 62,5%;
    background:white;
}

.container {
    display: grid;
    grid-template-rows: 8rem 5rem 1fr 3rem;
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
}

header,nav,section,main{
    border: .1rem solid green;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    border: .1rem solid rgb(128, 105, 0);
    width: 45rem;
    height: 3rem;
}

section {
    display: grid;
    border: .1rem solid black;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 10rem));
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: .9rem;
}

.pokemon{
    border: .1rem solid black;
    border-radius: 1rem;
    margin-top: 1rem;
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    box-shadow: .5rem .4rem .5rem var(--shadow-color);
}

section .pokemon .img {
    display: flex;
    width: 3.1rem;
    height: 3.4rem;
    background-image:url(../img/bulbasaur.gif);
    background-size:3.1rem;
    margin-top: .6rem;
}
section .pokemon:nth-child(2) .img{
    width: 4.4rem;
    height: 3.4621rem;
    background-image:url(../img/ivysaur.gif);
    background-size:4.4rem;
    margin-left: .6rem;
}
section .pokemon:nth-child(3) .img {
    width: 4.38rem;
    height: 3.2rem;
    background-image: url(../img/venusaur.gif);
    background-size:4.4rem;
    margin-left: .2rem;
}
section .pokemon:nth-child(4) .img {
    display: flex;
    align-items: center;
    width: 2.5rem;
    height: 3rem;
    background-image: url(../img/charmander.gif);
    background-size:2.5rem;
    margin-left: .2rem;
}
section .pokemon:nth-child(5) .img {
    width: 2.53rem;
    height: 2.94rem;
    background-image: url(../img/charmeleon.gif);
    background-size:2.5rem;
    margin-left: .2rem;
}
section .pokemon:nth-child(6) .img {
    width: 3rem;
    height: 3.35rem;
    background-image: url(../img/charizard.gif);
    background-size:3.2rem;
    margin-top: .1rem;
    margin-left: .2rem;
}
section .pokemon:nth-child(7) .img {
    width: 3.1rem;
    height: 3.2rem;
    background-image: url(../img/squirtle.gif);
    background-size:3.1rem;
    margin-left: .2rem;
}
section .pokemon:nth-child(8) .img {
    width: 2.438rem;
    height: 3.2rem;
    background-image: url(../img/wartortle.gif);
    background-size:2.435rem;
    margin-left: .2rem;
}
section .pokemon:nth-child(9) .img {
    width: 3.3rem;
    height: 3.13rem;
    background-image: url(../img/blastoise.gif);
    background-size:3.33rem;
    margin-left: .2rem;
}

.num{
    display: flex;
    font-size: .65rem;
    color: rgb(136, 135, 135);
}

.name {
    display: flex;
}

.typer {
    display: flex;
    width: 6.5rem;
    justify-content: space-around;
}
.Grass {
    display: flex;
    border: .1rem solid black;
    margin-right: .2rem;
    width: 3.2rem;
    justify-content: center;
    border-radius: .1rem;
    color: var(--fontglass-color);
    background-color: var(--glass-color);
}
.Poison {
    display: flex;
    border: .1rem solid black;
    margin-left: .1rem;
    width: 3.2rem;
    justify-content: center;
    border-radius: .1rem;
    color: var(--fontpoison-color);
    background-color: var(--poison-color);
}
.Fire {
    display: flex;
    border: .1rem solid black;
    margin-left: .1rem;
    width: 3.2rem;
    justify-content: center;
    border-radius: .1rem;
    color: var(--fontfire-color);
    background-color: var(--fire-color);
}
.Flying {
    display: flex;
    border: .1rem solid black;
    margin-left: .1rem;
    width: 3.2rem;
    justify-content: center;
    border-radius: .1rem;
    color: var(--fontflying-color);
    background-color: var(--flying-color);
}
.Water {
    display: flex;
    border: .1rem solid black;
    margin-left: .1rem;
    width: 3.2rem;
    justify-content: center;
    border-radius: .1rem;
    color: var(--fontwater-color);
    background-color: var(--water-color);
}


